<launch>
    <arg name="gui"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_worlds)/worlds/simple_env_1.world"/>
        <arg name="paused" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="verbose" value="true"/>
        <arg name="use_sim_time" value="true"/>
    </include>
</launch>
